@import "./config.scss";
@import "./animation.scss";

.card-container {
  position: relative;
  height: 50dvh;
  max-width: 100vw;
  aspect-ratio: 16/9;

  > .card {
    width: 100%;
    height: 100%;
    padding: 1em;
    backface-visibility: hidden;
    box-shadow: 0px 0px 24px 7px $color-main;
    background-color: $color-bg;

    &.back {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.card {
  > * {
    width: 100%;
    height: 100%;
  }

  .card-main {
    position: relative;
  }

  button.turn-over {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    align-items: end;
    gap: 1em;
  }
}

.card.front {
  animation: scale-fade-in 1s ease-in-out 0s 1;
  .card-main {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 3em;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      > img {
        overflow: hidden;
        border-radius: 100%;
        width: 12em;
        height: 12em;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .title {
        height: fit-content;
        margin-bottom: 1em;
      }
      .name {
        font-size: 3.2vw;
        border-bottom: 1px solid $color-main;
      }
      .role {
        display: flex;
        padding-top: 0.2em;
        font-size: 1.6vw;
        gap: 1.4em;
        align-items: center;
      }

      @media screen and (max-width: 1020px) {
        .name {
          font-size: 2.3em;
        }
        .role {
          font-size: 1.4em;
        }
      }

      .intro {
        display: flex;
        flex-direction: column;
        align-items: end;
        > p {
        }
      }
    }
  }
}
