@import "./config.scss";
@import "./animation.scss";

.all-container {
  width: 80%;
  min-height: 56%;

  @media screen and (max-width: 700px) {
    width: 95%;
    font-size: 0.9em;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100%;
  max-width: 100vw;
  width: 100%;

  > .card {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 0px 24px 7px $color-main;
    background-color: $color-bg;

    &.front {
      position: absolute;
      top: 0;
      left: 0;
    }

    @media screen and (max-width: 700px) {
      .card-inner {
        padding-bottom: 1em;
      }
    }
  }
}

.card {
  flex: 1 1 auto;
  height: fit-content;
  > * {
    width: 100%;
    height: 100%;
  }

  .card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;

    padding: 1em;
  }

  button.turn-over {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    align-items: end;
    gap: 1em;
    font-size: 1em;
    color: $color-main;
    @media screen and (max-width: 700px) {
      font-size: 0.7em;
    }
  }
}

.card.front {
  display: flex;
  flex-direction: column;
  animation: scale-fade-in 1s ease-in-out 0s 1;

  @media screen and (max-width: 700px) {
    font-size: 0.7em;
  }

  .card-inner {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .card-main {
    display: flex;
    flex: 1 1 auto;
    gap: 3em;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      justify-content: center;

      .icon-container {
        width: 100% !important;
      }
    }
    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      > img {
        overflow: hidden;
        border-radius: 100%;
        width: 12em;
        height: 12em;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      > .title {
        height: fit-content;
        margin-bottom: 1em;
      }
      .name {
        font-size: 3.2vw;
        border-bottom: 1px solid $color-main;
      }
      .role {
        display: flex;
        padding-top: 0.2em;
        font-size: 1.6vw;
        gap: 1.4em;
        align-items: center;

        .and-more {
          font-size: 0.7em;
        }
      }

      @media screen and (max-width: 1020px) {
        .name {
          font-size: 2.3em;
        }
        .role {
          font-size: 1.4em;
        }
      }

      .intro {
        display: flex;
        flex-direction: column;
        align-items: end;

        > p {
          padding-top: 1em;
          padding-bottom: 1em;
        }
      }
    }
  }
}

.card.back {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 480px) {
    font-size: 0.7em;
  }
  .title {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    font-weight: normal;
  }
  @media screen and (max-width: 700px) {
    .title {
      padding-bottom: 0;
    }
  }

  > .card-inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    > .card-main {
      flex: 1 1 auto;
    }
  }

  ul.example-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    > li {
      width: 30%;
      display: flex;
      flex-direction: column;
      border: 1px solid $color-main;
      border-radius: 1em;
      overflow: hidden;

      .img-container {
        width: 100%;
        height: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        padding: 1em;

        h2 {
          padding-bottom: 0.2em;
          font-size: 1.3em;
        }

        > .content {
          flex: 1 1 auto;
          font-size: 0.9em;
        }

        > a {
          margin-top: 10px;

          @media screen and (max-width: 700px) {
            margin-top: 2px;
          }
        }
      }
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
      font-size: 0.5em;
      gap: 0.2em;

      > li {
        width: 100%;
        height: 128px;
        flex-direction: row;
      }
    }
  }

  .bottom-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
    padding-top: 1em;
    padding-bottom: 1em;

    @media screen and (max-width: 700px) {
      font-size: 0.6em;
      padding-top: 0;
    }
  }

  .organization {
    display: flex;
    flex-direction: column;
    width: 40%;

    > h1 {
      font-size: 1em;
      font-weight: normal;
    }
    > ul.organizations-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 1em;
      > li {
        display: flex;
        align-items: center;
        justify-content: center;
        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1em;

          > img {
            width: 3em;
            height: 3em;
          }
        }
      }

      @media screen and (max-width: 700px) {
        flex-direction: row;

        > li {
          span {
            display: none;
          }
        }
      }
    }
  }

  .divide-line {
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    border-left: 1px solid $color-main;

    @media screen and (max-width: 700px) {
      height: 40px;
      padding-bottom: 1em;
    }
  }

  .link {
    width: 40%;
    > h1 {
      font-size: 1em;
      font-weight: normal;
    }

    > .link-list {
      > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1em;

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1em;
          > img {
            width: 3em;
            height: 3em;
          }
        }
      }

      @media screen and (max-width: 700px) {
        flex-direction: row;
        > li {
          span {
            display: none;
          }
        }
      }
    }
  }
}

a.anchor-link {
  display: flex;
  justify-content: center;
  padding: 0.4em 2em;
  border-radius: 0.4em;
  color: $color-bg;
  background-color: $color-main;
  border: 1px solid $color-main;
  text-decoration: none;
  transition-duration: 0.3s;
  font-size: 1.2em;

  &:hover {
    color: $color-main;
    background-color: $color-bg;
  }
}
