:root {
  @media (prefers-color-scheme: light) {
    --color-bg: #f2f2f2;
    --color-main: #2e2e2e;
  }
  @media (prefers-color-scheme: dark) {
    --color-bg: #111;
    --color-main: #ddd;
  }
}

$color-main: var(--color-main);
$color-bg: var(--color-bg);
