@import "./config.scss";
@import "./animation.scss";

.waves-circle {
  display: block;
  width: 1em;
  height: 1em;
  background-color: $color-main;
  border-radius: 100%;
  animation: waves-circle 1s ease-in-out 0s infinite;
}

.icon {
  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(0px 0px 2px $color-main);
  }
}
